[Desktop Entry]
Name=1-to-1 Assistance
Name[ru]=1-на-1 Помощь
Name[de]=1-zu-1 Assistenz
Name[fr]=1-to-1 Assistance
Comment=1-to-1 Reverse-VNC, reverse and simple
Comment[ru]=1-к-1 Обратный-VNC, обратный и простой
Comment[de]=1-zu-1 Reverse-VNC,  umgekehrt und einfach
Comment[fr]=1-to-1 Inversé-VNC, inversé et facile
Exec=1-to-1_assistance.sh
Icon=1-to-1_assistance.png
Terminal=false
Type=Application
StartupNotify=false
NoDisplay=False
Categories=Network;RemoteAccess;
