Source: 1-to-1-assistance-antix
Section: system
Priority: optional
Maintainer: anticapitalista <anticapitalista@riseup.net>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.8
Homepage: https://gitlab.com/Aika_Sumeragi/1-to-1-assistance-antix

Package: 1-to-1-assistance-antix
Architecture: all
Depends: vinagre, x11vnc, stunnel4, bash, grep, arandr, yad, coreutils, x11-xserver-utils
Description: A simple way to privately share the desktop of one system with another system.

