[Desktop Entry]
Name=1-to-1 Assistance
Name[ca]=Assistència 1 a 1
Name[de]=1-zu-1 Assistenz
Name[el]=1-to-1 Assistance
Name[es]=Asistencia 1-a-1
Name[fr]=Assistance 1-pour-1
Name[it]=Assistente 1-a-1
Name[nl]=1-op-1 Assistentie
Name[pt]=Apoio 1-a-1
Name[sv]=1-till-1 Assistans
Comment=Share the local or a remote desktop via SSL enabled VNC
Comment[ca]=Compartir un escritptori local o remot per SSL, amb VNC habilitat
Comment[de]=Teile den lokalen oder einen Remote-Desktop über SSH mit aktiviertem VNC
Comment[el]=Μοιραστείτε την τοπική ή απομακρυσμένη επιφάνεια εργασίας μέσω ενεργοποιημένη SSL VNC
Comment[es]=Compartir escritorio local o remoto via SSL con VNC habilitado
Comment[fr]=Partage un ordinateur local ou à distance via un VNC avec prise en charge de SSL
Comment[it]=Condividere un desktop locale o remoto via SSL abilitando VNC
Comment[nl]=Deel de locale of externe desktop middels SSL geactiveerde VNC
Comment[pt]=Partilhar um computador local ou remoto via VNC com SSL
Comment[sv]=Dela det lokala eller ett externt skrivbord via SSL aktiverat VNC
Exec=1-to-1_assistance.sh
Icon=1-to-1_assistance.png
Terminal=false
Type=Application
StartupNotify=false
NoDisplay=False
Categories=Network;RemoteAccess;