[Desktop Entry]
Version=1.0
Type=Link
Name=faq_1-to-1_assistance
Comment=open with browser
Icon=1-to-1_assistance
URL=file:///usr/share/antiX/FAQ/1-to-1_assistance.html
