[Desktop Entry]
Name=SSL/SSH VNC Viewer
Name[ca]=Visualitzador VNC SSL/SSH
Name[de]=SSL/SSH VNC Betrachter
Name[el]=SSL/SSH VNC Viewer
Name[es]=SSL/SSH VNC Visualizador
Name[fr]=Visionneuse VNC SSL/SSH
Name[it]=VNC-Visualizzatore SSL/SSH
Name[nl]=SSL/SSH VNC Viewer
Name[pt]=Visualizador de VNC SSL/SSH
Name[sv]=SSL/SSH VNC Viewer
Comment=SSVNC - access remote VNC desktops
Comment[ca]=SSVNC - Accés a un escriptori remot amb VNC
Comment[de]=SSVNC - greife auf REmote-VNC-Desktops zu
Comment[el]=SSVNC - πρόσβαση απομακρυσμένες VNC επιφάνειες εργασίας
Comment[es]=SSVNC - accesar VNC escritorios remotos
Comment[fr]=SSVNC - accès à un bureau distant par VNC
Comment[it]=SSVNC - accedere ad un desktop remoto con VNC
Comment[nl]=SSVNC - krijg toegang tot externe VNC desktops
Comment[pt]=SSVNC - acesso a computadores remotos por VNC
Comment[sv]=SSVNC - tillgång till externa VNC skrivbord
Exec=ssvnc -noenc
Icon=computer
Terminal=false
Type=Application
StartupWMClass=Ssvnc.tcl
Categories=Network;RemoteAccess;
NoDisplay=False