[Desktop Entry]
Name=X11VNC Server
Name[ca]=Servidor X11VNC
Name[de]=X11VNC Server
Name[el]=X11VNC Server
Name[es]=Servidor X11VNC
Name[fr]=Serveur X11VNC
Name[it]=Server X11VNC
Name[nl]=X11VNC Server
Name[pt]=Servidor X11VNC
Name[sv]=X11VNC Server
Comment=Share this desktop by VNC
Comment[ca]=Compartir aquest escriptori per VNC
Comment[de]=Teile diesen Desktop über VNC
Comment[el]=Μοιραστείτε αυτήν την επιφάνεια εργασίας με VNC
Comment[es]=Compartir este escritorio por VNC
Comment[fr]=Partager cet ordinateur par VNC
Comment[it]=Condividere questo desktop con VNC
Comment[nl]=Deel deze desktop middels VNC
Comment[pt]=Partilha este computador por VNC
Comment[sv]=Dela detta skrivbord med VNC
Exec=x11vnc -gui tray=setpass -rfbport PROMPT -bg -o .x11vnc.log
Icon=computer
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;RemoteAccess;
NoDisplay=False
